@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import './utils/variables';
@import './blocks/header';
@import './blocks/maxsulotlar';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
}

main {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);

    section {
        width: 75%;
        height: 100%;
    }

    aside {
        width: 25%;
        height: 100%;
        background-color: $secondaryColor;
        
    }
}

.section-1 {
    padding: 30px 80px;
    background: $primaryColor;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
}